<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Yeah!!, Now you're on the secret page</h1>
    <p class="secret-text">My dad is my hero.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </div>
</div>

<% if (message && message.length > 0) { %>
<script>
  alert("<%= message[0] %>");
</script>
<% } %>

<%- include('partials/footer') %>
